<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.common.orgstruct.mapper.PhoneTokenMapper">
    <resultMap id="BaseResultMap" type="pers.common.orgstruct.entity.PhoneToken">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="token_value" property="tokenValue"/>
        <result column="expire_time" property="expireTime"/>
        <result column="to_user" property="toUser"/>
    </resultMap>

    <sql id="BaseColumnList">
        id,
        token_value,
        expire_time,
        to_user
    </sql>

    <!--PhoneToken selectByAccount(String account);-->
    <select id="selectByAccount" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseColumnList"/>
        FROM
            os_phone_token
        WHERE
            to_user = #{account}
        LIMIT
            1
    </select>
</mapper>