<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.common.orgstruct.mapper.UserInfoMapper">
    <resultMap id="BaseResultMap" type="pers.common.orgstruct.entity.UserInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="email" property="email"/>
        <result column="login_account" property="loginAccount"/>
        <result column="login_password" property="loginPassword"/>
        <result column="created_date" property="createdDate"/>
        <result column="created_by" property="createdBy"/>
        <result column="last_modified_date" property="lastModifiedDate"/>
        <result column="last_modified_by" property="lastModifiedBy"/>
    </resultMap>
    <sql id="BaseColumnList">
        id,
        user_name,
        phone_number,
        email,
        login_account,
        login_password,
        created_date,
        created_by,
        last_modified_date,
        last_modified_by
    </sql>
    <!--UserInfo queryUserByPhoneNumberAndPassword(String account, String password);-->
    <select id="queryUserByPhoneNumberAndPassword" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList"/>
        from
        os_user_info
        where
        login_account = #{phoneNumber} and login_password = #{password}
    </select>


    <!--UserInfo selectByAccount(String account);-->
    <select id="selectByAccount" resultMap="BaseResultMap">
        SELECT
            <include refid="BaseColumnList"/>
        FROM
            os_user_info oui
        WHERE
            oui.login_account = #{account}
    </select>


</mapper>